{% load static %}
<link rel="stylesheet" href="{% static 'stream/styles.css' %}">

<div class="wrapper-container">
    <h1>Stream Flix</h1>
    <form method="get">
        {{ filter.form }}
        <button type="submit">Search</button>
    </form>
    <form method="get">
        <button type="submit" name="order_field" value="name">Name Ordering</button>
        <button type="submit" name="order_field" value="short_name">Short-name Ordering</button>
        <button type="submit" name="order_field" value="source">Source Ordering</button>
    </form>
    {% for movie in movies %}
        <div class="card">
            <a href="{% url 'stream:detail' movie.id %}">
                <img class="img" src ="{{movie.icon_uri}}">
                <p class="name">{{ movie.name }}</p>
                <p>{{ movie.source }}</p>
            </a>
        </div>
    {% endfor %}
</div>
