body{
    background-color: rgb(44, 213, 188);
}
.wrapper-container {
	max-width: 1024px;
	margin: 0 auto;
	font: 1em Helvetica, arial, sans-serif;
}
.wrapper-container > * {
	border: 2px solid #000;
	background-color: rgb(33, 176, 155);
	border-radius: 3px;
	padding: 10px 0px;
}
.card{
    padding: 16px;
    margin: 10px 4px;
    border-radius: 5px;
    display: flex;
    float:left;
    max-width: 29%;
    height: 350px
}
label, input, button{
    margin: 10px;
    padding: 5px;
}
.detail{
    padding: 32px;
    margin: 10px 4px;
    border-radius: 5px;
}
form{
    text-align: center;
}
.name{
    font-size: 1.2em;
}
img{
    width: 100%;
    padding: 0px 0px 12px 0px;
}
h1{
    text-align:center;
}
a:link {
    text-decoration: none;
}
a:visited {
text-decoration: none;
}
